body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: green;
}

h1 {
    color: goldenrod;
    font-family: fantasy;
}

#party-list {
    margin-bottom: 20px;
}

.party-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.delete-btn {
    background-color: #ff6666;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}